Package: com.ludvigeriksson.snoozehelper
Name: SnoozeHelper
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Tap anywhere on the screen to snooze
Maintainer: Ludvig Eriksson
Author: Ludvig Eriksson
Section: Tweaks
Version: 1.0.0-1
Installed-Size: 88
