Package: com.ludvigeriksson.snoozehelper
Name: SnoozeHelper
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Tap anywhere on the screen to snooze
Maintainer: Ludvig Eriksson
Author: Ludvig Eriksson
Section: Tweaks
